USE [Sales]
GO
/****** Object:  UserDefinedFunction [dbo].[F_itemgroup_3]    Script Date: 04/09/2024 20:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[F_itemgroup_3](@ProductItem varchar(50))
RETURNS varchar(50)
AS
-- Returns the stock level for the product.
BEGIN
    DECLARE @ret varchar(50);
    --SELECT @ret = SUM(p.Quantity)
    --FROM Production.ProductInventory p
    --WHERE p.ProductID = @ProductID
    --    AND p.LocationID = '6';

	select   @ret = [MATCHING_ItemGroupe].itemgroupe 
	from [dbo].[ITEMS]
		left join [MATCHING_ItemGroupe] ON 
		(CASE CHARINDEX('?',item_,1) WHEN 0 THEN item_ ELSE left(item_,(len(item_)-(len(item_)-CHARINDEX('?',item_,1)+1)))END )=
		(left(CODEITEM,len((CASE CHARINDEX('?',item_,1) WHEN 0 THEN item_ ELSE left(item_,(len(item_)-(len(item_)-CHARINDEX('?',item_,1)+1)))END ))))
		AND 
		replace(SUBSTRING(item_,  CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')
		=RIGHT(trim(codeitem),len(replace(SUBSTRING(item_, CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')))
	
	--AND replace(SUBSTRING(item_,  CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')
	--=replace(SUBSTRING(item_, CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')	
	
		AND len(CODEITEM)=len([MATCHING_ItemGroupe].item_)
	
	where 
	CODEITEM = trim(@ProductItem) AND partnumber='*' 
	--AND(CodeItemGRP in(select itemgroupe from ItemGroupe where partnumber='*') and CodeItemGRP NOT in(select itemgroupe from ItemGroupe where partnumber<>'*'))
	and len(CODEITEM)>0  and len(item_)>0

    RETURN @ret;
END;