USE [Sales]
GO
/****** Object:  UserDefinedFunction [dbo].[F_itemgroup_2]    Script Date: 04/09/2024 20:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[F_itemgroup_2](@ProductItem varchar(50),@bp varchar(50))
RETURNS varchar(50)
AS
-- Returns the stock level for the product.
BEGIN
    DECLARE @ret varchar(50);
    --SELECT @ret = SUM(p.Quantity)
    --FROM Production.ProductInventory p
    --WHERE p.ProductID = @ProductID
    --    AND p.LocationID = '6';

	select   @ret = [MATCHING_ItemGroupe].itemgroupe 
	from [dbo].[ITEMS]
	left join [MATCHING_ItemGroupe] ON 
	(CASE CHARINDEX('?',item_,1) WHEN 0 THEN item_ ELSE left(item_,(len(item_)-(len(item_)-CHARINDEX('?',item_,1)+1)))END )=
	(left(CODEITEM,len((CASE CHARINDEX('?',item_,1) WHEN 0 THEN item_ ELSE left(item_,(len(item_)-(len(item_)-CHARINDEX('?',item_,1)+1)))END ))))
	AND 
	replace(SUBSTRING(item_,  CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')
	=RIGHT(codeitem,len(replace(SUBSTRING(item_, CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')))
	AND len(CODEITEM)=len([MATCHING_ItemGroupe].item_)
	
	where CODEITEM= @ProductItem and codebp=@bp
	AND partnumber<>'*' 
	AND ASCII( left(partnumber,1))=91
	AND ASCII( right(left(partnumber,2),1))=33	
	and right(substring(partnumber,1,3),1)<>left(codebp,1)
	and right(substring(partnumber,1,7),1)<>right(left(codebp,2),1)
	and len(CODEITEM)>0  and len(item_)>0
  

    RETURN @ret;
END;


--select    *,[dbo].[F_itemgroup2](CodeItem)

--	,right(substring(partnumber,1,3),1)
--	--,left(partnumber,1)
--	--,ASCII( right(left(partnumber,2),1))
--	,right(substring(partnumber,1,7),1)
--	--,left(partnumber,1)
--	,left(codebp,1),right(left(codebp,2),1)
--	from [dbo].[ITEMS]
--	left join [ItemGroupe] ON 
--	(CASE CHARINDEX('?',item_,1) WHEN 0 THEN item_ ELSE left(item_,(len(item_)-(len(item_)-CHARINDEX('?',item_,1)+1)))END )=
--	(left(CODEITEM,len((CASE CHARINDEX('?',item_,1) WHEN 0 THEN item_ ELSE left(item_,(len(item_)-(len(item_)-CHARINDEX('?',item_,1)+1)))END ))))
--	AND 
--	replace(SUBSTRING(item_,  CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')
--	=RIGHT(codeitem,len(replace(SUBSTRING(item_, CHARINDEX('?', item_) ,CHARINDEX('?', item_) + CHARINDEX('?', item_, CHARINDEX('?', item_) ) + 1),'?','')))
--	AND len(CODEITEM)=len([ItemGroupe].item_)
	
--	where 
--	--CODEITEM= '9YASN00350580'
--	partnumber<>'*' 
--	AND ASCII( left(partnumber,1))=91
--	AND ASCII( right(left(partnumber,2),1))=33	
--	and right(substring(partnumber,1,3),1)=left(codebp,1)
--	and right(substring(partnumber,1,7),1)=right(left(codebp,2),1)