USE [Sales]
GO
/****** Object:  StoredProcedure [dbo].[sp_data]    Script Date: 04/09/2024 20:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER procedure [dbo].[sp_data](@Nom_Table SYSNAME,@dateinv varchar(12),@plant varchar(12))  as

--declare @Nom_Table SYSNAME
--declare @dateinv as varchar(12)
--set @Nom_Table='[Global_Sales_Marocco]'
--set @dateinv='2023-12-01'
--declare @var_rows as int

set nocount on
set QUOTED_IDENTIFIER off
--PRINT month(@dateinv)
 --convert(numeric(11,2),Price)

PRINT month(@dateinv)
declare @StrSQL as varchar(MAX)

set @strsql = "update dbo."+ @Nom_Table+" set  item = trim(item) where CONFIRMED =0 "
execute(@strsql)
select(@strsql)

--1
--IF @Nom_Table='Global_Sales_Mexico'
--BEGIN
--	set @strsql="update Global_Sales_Mexico 
--		set plant = 'M-'" +" Inv_Company" +"'"  +"
--		,INV_Company_DESC =concat('Manual sales invoice ','-',Inv_Company)
--		from Global_Sales_Mexico
--		where 
--		CONFIRMED=0 AND request ='3'
--		"
--	execute(@strsql)
--	select(@strsql)

--	PRINT( +@Nom_Table+" UPDATE plant Query 3  FOR  "+@dateinv)
--END


IF @Nom_Table='Global_Sales_Mexico'
BEGIN
	set @strsql="update Global_Sales_Mexico	
	set	Plant = descr
	,warehouse_Dsc=Descr
	,INV_Company_DESC=Invoice_Company_Dsc
	,Global_Sales_Mexico.Sales_Company_Dsc=[WRH_Description].Sales_Company_Dsc
	FROM dbo.Global_Sales_Mexico     
	left join [dbo].[WRH_Description] on Sales_Company_Code=Global_Sales_Mexico.Sales_Company 
	and [dbo].[WRH_Description].Inv_Company=Global_Sales_Mexico.Inv_Company and WRH_Description.Code = Global_Sales_Mexico.warehouse 
	WHERE
	CONFIRMED =0 AND REQUEST<>3 AND
	month(inv_date)=month(convert(date,'"+@dateinv+"')) and
	year(inv_date)=year(convert(date,'"+@dateinv+"')) and 
	New_Price IS NULL  AND Inv_Quantity_Final IS NULL 
	"
	execute(@strsql)
	select(@strsql)
	print("date ok")


	set @strsql="update Global_Sales_Mexico	
	set
	 Inv_Quantity_Final = (CASE when Qty_Unit in ('m' ,'M') THEN convert(numeric(11,2),Inv_Quantity)/1000 ELSE Inv_Quantity END )
	,New_Price = (CASE when Price_Unit in ('m' ,'M')  THEN convert(numeric(11,2),Price)/1000 ELSE Price END )

	,New_QTY_unit   = (CASE when Qty_Unit in ('m' ,'M') THEN 'KM' ELSE qty_unit END) 
	,New_price_unit = (CASE when Qty_Unit in ('m' ,'M') THEN 'KM' ELSE price_unit END) 
	
	WHERE

	CONFIRMED = 0 AND
	month(inv_date)=month(convert(date,'"+@dateinv+"')) AND year(inv_date)=year(convert(date,'"+@dateinv+"')) AND 
	New_Price IS NULL  AND Inv_Quantity_Final IS NULL 
	"
	execute(@strsql)
	select(@strsql)
	print("date ok")


END


--2
IF @Nom_Table='Global_Sales_Mexico' OR @Nom_Table='Global_Sales_Chine'
	BEGIN
	set @strsql="update Global_Sales_Mexico set active=(case when trim(Material_Type)='CU_S' OR Material_Type IS NULL then 1 else 0 end)
				from Global_Sales_Mexico
				WHERE 
				CONFIRMED =0 AND 
				REQUEST<>3 AND
				concat(invoice_n,shipment,shipment_line) in 
															(select concat(invoice_n,shipment,shipment_line)
															from Global_Sales_Mexico	
															WHERE REQUEST<>3																				
															group by invoice_n,ITEM,shipment,shipment_line,net_line_amount
															having count(invoice_n) >1 ) "
	execute(@strsql)
	select(@strsql)
	END


--3
IF @Nom_Table='Global_Sales_Mexico'
	BEGIN
	set @strsql="update Global_Sales_Mexico	set	Plant = descr
												,warehouse_Dsc=Descr
												,INV_Company_DESC=Invoice_Company_Dsc
												,Global_Sales_Mexico.Sales_Company_Dsc=[WRH_Description].Sales_Company_Dsc									
				FROM dbo.Global_Sales_Mexico     
				left join [dbo].[WRH_Description] on Sales_Company_Code=Global_Sales_Mexico.Sales_Company 
				and [dbo].[WRH_Description].Inv_Company=Global_Sales_Mexico.Inv_Company and WRH_Description.Code = Global_Sales_Mexico.warehouse 

				WHERE 
				CONFIRMED =0 AND 
				month(inv_date)=month(convert(date,'"+@dateinv+"')) and
				year(inv_date)=year(convert(date,'"+@dateinv+"')) and
				plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end 
				and request <>3
				"
	execute(@strsql)
	select(@strsql)
	print("ok")
	END
--4
IF @Nom_Table='Global_Sales_Maroc' or @Nom_Table='Global_Sales_EE' or @Nom_Table='Global_Sales_Tunis' or @Nom_Table='Global_Sales_Portugal' or @Nom_Table='Global_Sales_Chine'
	BEGIN
	set @strsql="update dbo."+ @Nom_Table+" set 
											Inv_Quantity_Final  =  (CASE when Qty_Unit='m' and (Price_Unit='m' or Price_Unit='KM' )  THEN convert(numeric(11,2),Inv_Quantity)/1000  
																		 when Qty_Unit='m' and Price_Unit<>'m' AND Price_Unit<>'KM'  THEN Inv_Quantity	 
																		 when Qty_Unit='KM' THEN Inv_Quantity 
																		 when Qty_Unit=price_Unit and Qty_Unit<>'m' and Qty_Unit<>'km' THEN  Inv_Quantity	END )	

                                            ,new_price = (CASE	when price_Unit='m' and (qty_Unit='m' or Price_Unit='KM' )  THEN convert(numeric(11,2),price)/1000  
																when price_Unit='m' and qty_unit<>'m' AND qty_Unit<>'KM'  THEN price	 
																when price_Unit='KM'  THEN price 
																when Qty_Unit=price_Unit and Qty_Unit<>'m' and Qty_Unit<>'km' then  price	END)	

											, New_QTY_unit   = (CASE when qty_Unit   in('m','M') or Price_Unit in('km','KM') THEN 'KM' ELSE QTY_unit END)
											, New_price_unit = (CASE when price_unit in('m','M') or Price_Unit in('km','KM') THEN 'KM' ELSE price_unit END) 
											,Current_Inv_Date = Inv_Date
				WHERE 
				CONFIRMED =0 AND 
				month(inv_date)=month(convert(date,'"+@dateinv+"')) and
				year(inv_date) = year(convert(date,'"+@dateinv+"')) and
				plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end  
				"

	execute(@strsql)
	select(@strsql)
	PRINT("calculated new qty , new price done for table  : "+@Nom_Table+" on "+@dateinv)
	END

--5
IF @Nom_Table='Global_Sales_Maroc' or @Nom_Table='Global_Sales_EE' 
	BEGIN
	set @strsql="update dbo."+ @Nom_Table+" set new_price =Net_Line_Amount/ (case when Inv_Quantity =0 then 1 else Inv_Quantity end )
				WHERE
				CONFIRMED =0 AND
				Qty_Unit=price_Unit and 
				month(inv_date)=month(convert(date,'"+@dateinv+"')) and 
				year(inv_date)=year(convert(date,'"+@dateinv+"')) and
				plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end 
				"
	execute(@strsql)
	select(@strsql)
	PRINT("calculated price done for table : "+@Nom_Table+" on "+@dateinv)
	END

 --6
/* itemgroup(run[dbo].[Get_Items] and  [dbo].[ITEM_GROUPE_MATCHING])*/
set @StrSql=" update  dbo."+@Nom_Table+" set itemgroupe=codeitemgrp
              from dbo."+@Nom_Table+" 
              left join ITEMS on CodeItem=trim(Item)
              WHERE 
			  CONFIRMED = 0 AND 
			  month(inv_date)=month(convert(date,'"+@dateinv+"')) and
			  year(inv_date)=year(convert(date,'"+@dateinv+"')) and
			  plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end  "
execute(@strsql)
select(@strsql)
PRINT("item group mutched for table : "+@Nom_Table+" on "+@dateinv)

--7
/* client groupe */
set @StrSql="update  dbo."+ @Nom_Table+" set CLIENT=CLIENT_G 
			FROM dbo."+ @Nom_Table+"
			left join MATCHING_BP_Groupe on InvC=Inv_Company  and CONVERT(char,Sold_To_BP)=BP 
			WHERE
			CONFIRMED =0 AND
			month(inv_date)=month(convert(date,'"+@dateinv+"')) and
			year(inv_date)=year(convert(date,'"+@dateinv+"')) and
			plant=case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end   "
execute(@strsql)
select(@strsql)
PRINT("Bisness partner mutched for table : "+@Nom_Table+" on "+@dateinv)


--8
--/* INV DATE*/
IF @Nom_Table ='Global_Sales_Mexico'
	BEGIN
		set @StrSql="UPDATE  dbo."+ @Nom_Table+"  set Current_Inv_Date=dateadd(hour, convert(int,substring(convert(char,(inv_date at time zone 'Eastern Standard Time (Mexico)')),25,3)), inv_date)
					FROM dbo."+ @Nom_Table+"
					WHERE 
					CONFIRMED =0 AND 
					month(inv_date)=month(convert(date,'"+@dateinv+"')) and
					year(inv_date)=year(convert(date,'"+@dateinv+"')) and
					plant=case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end  "
					 
	END
ELSE IF @Nom_Table='Global_Sales_EE'  OR  @Nom_Table ='Global_Sales_Marocco' OR  @Nom_Table ='Global_Sales_Tunis' OR  @Nom_Table ='Global_Sales_Portugal'
	BEGIN
		set @StrSql="UPDATE  dbo."+ @Nom_Table+"  set Current_Inv_Date=inv_date
					FROM dbo."+ @Nom_Table+"
					WHERE 
					CONFIRMED =0 AND 
					month(inv_date)=month(convert(date,'"+@dateinv+"')) and
					year(inv_date)=year(convert(date,'"+@dateinv+"')) and
					plant=case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end  "
	END
execute(@strsql)
select(@strsql)
--print @strsql

PRINT("NEW DATE mutched for table : "+@Nom_Table+" on "+@dateinv)

--9
/* Reporting_Amount */

set @StrSql="update  dbo."+ @Nom_Table+" 
			set 
			Reporting_Amount_Euro = isnull(Net_Line_Amount*(CASE CURRENCY WHEN 'EUR' THEN 1 ELSE (isnull(DEVE1.VALEUR,DEVE2.valeurINV)) end),0),
			Reporting_Amount_USD  = isnull(isnull(Net_Line_Amount*(CASE CURRENCY WHEN 'USD' THEN 1  ELSE  isnull(DEVU1.VALEUR,DEVU2.valeurINV)  end),Reporting_Amount_Euro*devEu.VALEUR),0)
			
			
			FROM dbo."+ @Nom_Table+"
			
			LEFT JOIN MATCHING_Devise devU1 on devU1.devs=Currency and devU1.devd='USD' AND MONTH(Current_Inv_Date)=month(devU1.datedebut) AND YEAR(Current_Inv_Date)=YEAR(devU1.datedebut) 
			left JOIN MATCHING_Devise devU2 on devU2.devD=Currency and devU2.devS='USD' AND MONTH(Current_Inv_Date)=month(devU2.datedebut) AND YEAR(Current_Inv_Date)=YEAR(devU2.datedebut) 
			LEFT JOIN MATCHING_Devise devE1 on devE1.devs=Currency and devE1.devd='EUR' AND MONTH(Current_Inv_Date)=month(devE1.datedebut) AND YEAR(Current_Inv_Date)=YEAR(devE1.datedebut) 
			LEFT JOIN MATCHING_Devise devE2 on devE2.devD=Currency and devE2.devS='EUR' AND MONTH(Current_Inv_Date)=month(devE2.datedebut) AND YEAR(Current_Inv_Date)=YEAR(devE2.datedebut) 
			
			LEFT JOIN MATCHING_Devise devEu on devEu.devS='EUR' and devEu.devD='usd' AND MONTH(Current_Inv_Date) = month(devEu.datedebut) AND YEAR(Current_Inv_Date) = YEAR(devEu.datedebut)
			
			WHERE 
			CONFIRMED=0 AND 
			month(inv_date)=month(convert(date,'"+@dateinv+"')) and
			year(inv_date)=year(convert(date,'"+@dateinv+"')) AND 
			--and (Reporting_Amount_Euro IS NULL OR Reporting_Amount_USD IS NULL OR Reporting_Amount_Euro =0 OR Reporting_Amount_USD =0 )and 
			plant= case when '"+@plant+"'='%' then plant else '"+@plant+"' end 
			"

execute(@strsql)
select(@strsql)
PRINT("CURRENCY mutched for table : "+@Nom_Table+" on "+@dateinv)

--10
IF @Nom_Table='Global_Sales_Mexico'  
BEGIN
set @StrSql="UPDATE dbo."+ @Nom_Table+" 
			set NetLineAmount_HNL    = (case Currency when 'MXN' then Reporting_Amount_USD else Net_Line_Amount end ) *ISNULl(HNL1.VALEUR,HNL2.valeurINV) 
			FROM dbo."+ @Nom_Table+"
			LEFT JOIN MATCHING_Devise HNL1 on HNL1.devs = (case Currency when 'MXN' then 'usd' else currency end ) 
                                          and HNL1.devd = 'HNL' AND MONTH(Current_Inv_Date)=month(HNL1.datedebut) AND year(Current_Inv_Date)=year(HNL1.datedebut)     
			LEFT JOIN MATCHING_Devise HNL2 on HNL2.devD = (case Currency when 'MXN' then 'usd' else currency end ) 
                                          and HNL2.devS = 'HNL' AND MONTH(Current_Inv_Date)=month(HNL2.datedebut) AND year(Current_Inv_Date)=year(HNL2.datedebut)      
			WHERE
			CONFIRMED =0 AND 
			month(inv_date)=month(convert(date,'"+@dateinv+"')) and
			year(Current_Inv_Date)=year(convert(date,'"+@dateinv+"')) and
			NetLineAmount_HNL is null and  
			plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end
			"
		
		
execute(@strsql)
select(@strsql)
PRINT("NetLineAmount_HNL  mutched for table : "+@Nom_Table+" on "+@dateinv)
END

--addedvalue_price
IF @Nom_Table ='Global_Sales_Tunis' 
BEGIN
set @StrSql="update  dbo."+ @Nom_Table+" set addedvalue_price = isnull(price-( Metal_Rate*Metal_weight_sales*(case qty_unit when 'm' then 1000 when'km' then 1 end) ) ,price)
			FROM dbo."+ @Nom_Table+"
			WHERE
			
			month(inv_date)=month(convert(date,'"+@dateinv+"')) and
			year(inv_date)=year(convert(date,'"+@dateinv+"')) and 
			type_invoice='FG' and
			plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end 
			"
execute(@strsql)
select(@strsql)
PRINT("addedvalue_price calculated for table : "+@Nom_Table+" on "+@dateinv)
END



IF  @Nom_Table ='Global_Sales_Portugal'OR @Nom_Table ='Global_Sales_Chine'  or @Nom_Table ='Global_Sales_Mexico'
BEGIN
set @StrSql="update  dbo."+ @Nom_Table+" set addedvalue_price = isnull(price-( Metal_Rate*Metal_weight_sales/1000*(case qty_unit when 'm' then 1000 when'km' then 1 end) ) ,price)
			FROM dbo."+ @Nom_Table+"
			WHERE
			CONFIRMED =0 AND 
			month(inv_date)=month(convert(date,'"+@dateinv+"')) and
			year(inv_date)=year(convert(date,'"+@dateinv+"')) and
			type_invoice='FG' and 
			plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end 
			"
execute(@strsql)
select(@strsql)
PRINT("addedvalue_price calculated for table : "+@Nom_Table+" on "+@dateinv)
END

IF  @Nom_Table ='Global_Sales_Maroc'OR @Nom_Table ='Global_Sales_EE'
BEGIN
set @StrSql="update  dbo."+ @Nom_Table+" set addedvalue_price = added_value
			FROM dbo."+ @Nom_Table+"
			WHERE
			CONFIRMED =0 AND 
			month(inv_date)=month(convert(date,'"+@dateinv+"')) and
			year(inv_date)=year(convert(date,'"+@dateinv+"')) and
			type_invoice='FG'and
			plant= case when '"+@plant+"' =  '%' then plant else '"+@plant+"' end 
			"
execute(@strsql)
select(@strsql)
PRINT("addedvalue_price calculated for table : "+@Nom_Table+" on "+@dateinv)
END



--update Global_Sales_Mexico
--set Inv_Quantity_Final	=Inv_Quantity
--,New_QTY_unit	=QTY_unit
--,New_price	= Price
--,New_price_unit=price_unit
--WHERE    request=3

----set @StrSql=" select
------distinct --month(inv_date),plant
----Inv_Quantity_Final ,New_QTY_unit,New_Price,New_price_unit
----,Inv_Company
----,itemgroupe
----,Inv_Quantity,inv_date,plant,CLIENT,Net_Line_Amount,price,Reporting_Currency_USD,Reporting_Currency_euro,Current_Inv_Date,Reporting_Amount_USD,Reporting_Amount_euro,NetLineAmount_HNL
----,currency 
----FROM dbo."+ @Nom_Table+" 
------WHERE   
----------month(inv_date)=01 and plant='COF KT'
------Inv_Quantity_Final is  null

----"
----execute(@strsql)

--****1
----insert into [DTW_SALES_2].[dbo].[Dim_Sales_Items]
--select distinct   item
--from [Sales].[dbo].[Global_Sales_Chine]
--WHERE    

--item 
--COLLATE French_CI_As 
--not in  
--(select Code_item from [DTW_SALES_2].[dbo].[Dim_Sales_Items])

--*****2
--insert into MATCHING_Devise values
--('USD','cny','2023-01-01 00:00:00.000','2023-01-31 00:00:00.000','6.79478','0.147171799528462','$','cny'),